@(stationList:List[Station], sameNameMap:scala.collection.mutable.Map[String, List[String]])

<!DOCTYPE html>
<html lang="ja">
<head>
	<title>候補選択</title>
	<meta name="robots" content="noindex,follow">
	@commonHeadElement()
</head>
<body>
	<div class="well well-sm">
		<h1>集合駅検索</h1>
		<div class="alert alert-info">
			下記の駅は複数の候補があります、検索に使用する駅を選択してください。
		</div>
		<div class="panel panel-primary">
			<div class="panel-heading">選択候補</div>
			<div class="panel-body">
				<form action="/search" method="get">
					<div id="input-group">
						@import java.lang.Integer; var idx=0
						@for(key <- sameNameMap.keys){
							<div class="form-group" id="key">
								<label for="station-name[@idx]">@key</label>
								<select class="form-control" id="station-name[@idx]" name="station-name[@idx]">
								@for(value <- sameNameMap(key)){
										<option>@value</option>
								}
								</select>
							</div>
							@{idx = idx + 1}
						}

						@for(station <- stationList){
							<input type="hidden" id="station-name[@idx]" name="station-name[@idx]" value=@station.name>
							@{idx = idx + 1}
						}
					</div>
					<input type="submit" value="検索" class="btn btn-primary">
					<input type="button" onclick="location.href='/index'"value="入力画面へ戻る" class="btn btn-primary">
				</form>
			</div>
		<div>
	</div>
</body>
</html>