<!-- share -->
<ul class="nav nav-pills">
	<!-- line -->
	<li>
		<span>
			<script type="text/javascript" src="//media.line.me/js/line-button.js?v=20140411" ></script>
			<script type="text/javascript">
			new media_line_me.LineButton({"pc":false,"lang":"ja","type":"c","text":"http://meeting-place.shibatar.net/index","withUrl":false});
			</script>
		</span>
	</li>

	<!-- twi -->
	<li>
		<a href="https://twitter.com/share" class="twitter-share-button" data-url="http://meeting-place.shibatar.net/index" data-lang="ja">ツイート</a>
		<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
	</li>

	<!-- fb -->
	<li>
		<div id="fb-root"></div>
		<script>(function(d, s, id) {
			var js, fjs = d.getElementsByTagName(s)[0];
			if (d.getElementById(id)) return;
			js = d.createElement(s); js.id = id;
			js.src = "//connect.facebook.net/ja_JP/sdk.js#xfbml=1&version=v2.5";
			fjs.parentNode.insertBefore(js, fjs);
		}(document, 'script', 'facebook-jssdk'));</script>
		<div class="fb-like" data-href="http://meeting-place.shibatar.net/index" data-layout="button" data-action="recommend" data-show-faces="true" data-share="false"></div>
	</li>
</ul>

<!-- amazon -->
<script type="text/javascript"><!--
amazon_ad_tag = "afy2507-22"; amazon_ad_width = "180"; amazon_ad_height = "150"; amazon_ad_logo = "hide"; amazon_ad_link_target = "new"; amazon_ad_price = "retail";//--></script>
<script type="text/javascript" src="http://ir-jp.amazon-adsystem.com/s/ads.js"></script>