@(message: String)

<!DOCTYPE html>
<html lang="ja">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>集合駅検索</title>
	<meta name="description" content="[TODO]">
	<!-- BootstrapのCSS読み込み -->
	<link rel="stylesheet" media="screen" href="@routes.Assets.at("bootstrap-3.3.6-dist/css/bootstrap.min.css")">
	<!-- jQuery読み込み -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
	<!-- BootstrapのJS読み込み -->
	<script src="@routes.Assets.at("bootstrap-3.3.6-dist/js/bootstrap.min.js")" type="text/javascript"></script>
</head>
<body>
	<div class="well well-sm">
		<h1>集合駅検索</h1>
		<div class="alert alert-danger">
			@message
		</div>
		<input type="button" onclick="location.href='/index'"value="検索画面へ戻る" class="btn btn-primary">
	</div>
</body>
</html>