@(inputForm:Form[InputForm], messageList:List[String])

<!DOCTYPE html>
<html lang="ja">
<head>
	<title>複数駅の中間地点にある駅を調べます【集合駅検索】</title>
	<meta name="description" content="複数の駅名を入力して集合場所にちょうど良い駅を検索できます。日本全国の路線情報に対応。飲み会や遊びの待ち合わせ場所を選ぶときに。最寄駅を複数入力するだけで中間地点にある駅を検索できます。">
	@commonHeadElement()
	<script src="@routes.Assets.at("javascripts/index.js")" type="text/javascript"></script>
</head>
<body>
	<div class="well well-sm">
		<h1>集合駅検索</h1>
		<p>
			出発駅それぞれから中間地点にある駅を検索します。
		</p>
		<p><a href="https://twitter.com/hoge_hoge_X">ご意見ご要望はこちらへDM</a></p>
		<p><a href="/info">お知らせ</a></p>
		@if(!messageList.isEmpty){
			<div class="alert alert-danger">
			@for(message <- messageList){
				<p>@message</p>
			}
			</div>
		}
		<div class="panel panel-primary">
			<div class="panel-heading">検索条件</div>
			<div class="panel-body">
				<p class="btn-group">
					<button type="button" class="btn btn-default" id="add-button">出発駅追加</button>
					<button type="button" class="btn btn-default" id="del-button" disabled="true">出発駅削除</button>
				</p>
				<form action="/inspection" method="get">
					<div id="input-group">
						@if(inputForm("station-name").indexes.size < 3){
						    	<div class="form-group" id="station0">
									<label for="station-name[0]">出発駅1</label>
									<input type="text" class="form-control" id="station-name[0]" name="station-name[0]" placeholder="駅名（例：新宿）" value=@inputForm("station-name[0]").value>
								</div>
						    	<div class="form-group" id="station1">
									<label for="station-name[1]">出発駅2</label>
									<input type="text" class="form-control" id="station-name[1]" name="station-name[1]" placeholder="駅名（例：渋谷）" value=@inputForm("station-name[1]").value>
								</div>
						}else{
							@for(idx <- inputForm("station-name").indexes){
						    	<div class="form-group" id="station@idx">
									<label for="station-name[@idx]">出発駅@{idx+1}</label>
									<input type="text" class="form-control" id="station-name[@idx]" name="station-name[@idx]" placeholder="駅名" value=@(inputForm("station-name[" + idx + "]").value)>
								</div>
							}
						}
					</div>
					<input type="submit" value="検索" class="btn btn-primary">
				</form>
			</div>
		</div>
		@commonFooter()
	</div>
</body>
</html>