@(inputForm:Form[InputForm], messageList:List[String])

<!DOCTYPE html>
<html lang="ja">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>集合駅検索</title>
	<meta name="keywords" content="[TODO]">
	<meta name="description" content="[TODO]">
	<!-- BootstrapのCSS読み込み -->
	<link rel="stylesheet" media="screen" href="@routes.Assets.at("bootstrap-3.3.6-dist/css/bootstrap.min.css")">
	<!-- jQuery読み込み -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
	<!-- BootstrapのJS読み込み -->
	<script src="@routes.Assets.at("bootstrap-3.3.6-dist/js/bootstrap.min.js")" type="text/javascript"></script>
	<!-- JSファイル読み込み -->
	<script src="@routes.Assets.at("javascripts/index.js")" type="text/javascript"></script>
</head>
<body>
	<div class="well">
		@if(messageList.size != 0){
			@for(message <- messageList){
				<div class="alert alert-danger">@message</div>
			}
		}
		<button type="button" class="btn btn-default" id="add-button">出発駅追加</button>
		<button type="button" class="btn btn-default" id="del-button" disabled="true">出発駅削除</button>
		<form action="/search" method="get">
			<div id="input-group">
				@if(inputForm("station-name").indexes.size < 3){
				    	<div class="form-group" id="station0">
							<label for="station-name[0]">出発駅1</label>
							<input type="text" class="form-control" id="station-name[0]" name="station-name[0]" placeholder="駅名" value=@inputForm("station-name[0]").value>
						</div>
				    	<div class="form-group" id="station1">
							<label for="station-name[1]">出発駅2</label>
							<input type="text" class="form-control" id="station-name[1]" name="station-name[1]" placeholder="駅名" value=@inputForm("station-name[1]").value>
						</div>
				}else{
					@for(idx <- inputForm("station-name").indexes){
				    	<div class="form-group" id="station@idx">
							<label for="station-name[@idx]">出発駅@{idx+1}</label>
							<input type="text" class="form-control" id="station-name[@idx]" name="station-name[@idx]" placeholder="駅名" value=@(inputForm("station-name[" + idx + "]").value)>
						</div>
					}
				}
			</div>
	<input type="submit" value="検索" class="btn btn-primary">
</form>
</div>
</body>
</html>