<html lang="ja">
<head>
	<title>お知らせ</title>
	<meta name="robots" content="noindex,follow">
	@commonHeadElement()
</head>
<body>
	<div class="well well-sm">
		<h1>集合駅検索</h1>
			<div class="panel panel-primary">
				<div class="panel-heading">変更・修正履歴</div>
				<div class="panel-body">
					<table class="table table-bordered table-condensed">
						<tr class="active">
							<th>日付</th>
							<th>内容</th>
						</tr>
						<tr>
							<td>2016/9/23</td>
							<td>一部の駅（磯子、港南台など）で検索できない問題を修正しました。</td>
						</tr>
					</table>
					<input type="button" onclick="location.href='/index'"value="入力画面へ戻る" class="btn btn-primary">
				</div>
			</div>
		@commonFooter()
	</div>
</body>
</html>